<div class="container-fluid">

  <dx-data-grid id="gridContainer" [dataSource]="demands"  (onRowInserting)="saveDemandDetails($event)" (onRowUpdated)="updateDemandDetails($event)"
  (onRowRemoving)="deleteDemandInfo($event)">
  
  
      <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
      <dxo-selection mode="multiple"></dxo-selection>
      <!-- <dxo-group-panel [visible]="true"></dxo-group-panel> -->
      <dxo-editing  mode="popup" [allowUpdating]="true"  [allowDeleting]="true" [allowAdding]="true" > 

        <dxo-popup
        title="Demand Info"
        [showTitle]="true"
        [width]="850"
        [height]="500"
        [position]="{ my: 'center', at: 'center', of: window }">
    </dxo-popup>

      </dxo-editing>
      <dxi-column dataField="demandId"  caption="Demand_ID"></dxi-column>
      <dxi-column dataField="groupName"  caption="Group" >
        <dxo-lookup [dataSource]="groupNames">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="jdRole"  caption="JD Role" ></dxi-column>
      <dxi-column dataField="contractRoles"  caption="Contract Role" ></dxi-column>
          <dxi-column dataField="skillType" caption="Skill_Type">
            <dxo-lookup [dataSource]="skillType">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="roleTechnologyMapping" caption="Role_Technology_Mapping"></dxi-column>
          <dxi-column dataField="technologyGroup" caption="Tech_Group"></dxi-column>
          <dxi-column dataField="relevantExperience" caption="Relevant_Experience"></dxi-column>
          <dxi-column dataField="psoOwner" caption="PSO_Owner"></dxi-column>
    <dxi-column dataField="raisedOn" caption="Raised_On" dataType="date"></dxi-column>
    <dxi-column dataField="needBy" caption="Need_By" dataType="date"></dxi-column>
    <dxi-column dataField="status" caption="Status">
      <dxo-lookup [dataSource]="demandstatus">
      </dxo-lookup>
    </dxi-column>
    
  </dx-data-grid>
  </div>